body{
  background-color: #C1C1E2;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#0F0E47;
}

nav{
  padding: 20px 60px;
  display: flex;
  justify-content: end;
  align-items: center;

}
.nav{
  width: 15%;
  display: flex;
  justify-content: space-between;
}

a:link, a:active, a:visited{
  text-decoration: none;
  color: #0F0E47;
  font-size: 24px;
}

header{
  font-size: 48px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
  display: grid;
  place-content: center;
  padding: 40px 0;
}

.categories{
  list-style-type: none; 
  display: grid;
  place-content: center;
}

.category{
  background-color: #505081;
  width: 960px;
  height: 70px;
  font-size: 32px;
  margin: 15px;
  padding-left: 50px;
  display:flex;
  align-items: center;
  gap: 20px;
  color: white;
}

#qa1,#qa2,#qa3,#qa4, #qa5{
  display: none;
  padding-left: 120px;
  font-size: 24px;
  width: 900px;
}

